<%= form_for(@luser) do |f| %>
  <% if @luser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@luser.errors.count, "error") %> prohibited this luser from being saved:</h2>

      <ul>
      <% @luser.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :about %>
    <%= f.text_area :about %>
  </div>
  <div class="field">
    <%= f.label :gear %>(Separate with comma):<br />
    <%= f.text_area :gear %>
  </div>
  <div>
    <%= f.label :profile %>
    <%= f.file_field :profile %>
  </div>
  <div>
    <%= f.label :battle_station %>
    <%= f.file_field :battle_station%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
