<div class="page">
<div style="width:760px;height:400px;background-color:#000">

	<% @discussions.each do |discussion| %>
	<div>
	 	<div style="float:left;width:100px;background-color:grey">
		 	<span style="color:#fff"><%= discussion.created_at.strftime("%v %r") %></span>
		 </div>
		 <div style="float:left;padding-left:5px;width:100px;">
		 	<span style="color:green"><b><%= discussion.luser.name %></b></span>
		 </div>
		 <div style="float:left;padding-left:5px;width:500px;"> 
		    <span style="color:green;"><%= discussion.comment %></span>
			<%= link_to 'Destroy', discussion, method: :delete, data: { confirm: 'Are you sure?' } %>
		</div>
		<br style="clear:both;"/>
    </div>	
	<% end %>
</div>
<hr />
<div>
	<%= form_for(@discussion, :url => "/" + @user_name + "/projects/" + @project.id.to_s + "/discussions") do |f| %>
	  <% if @discussion.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@discussion.errors.count, "error") %> prohibited this discussion from being saved:</h2>

	      <ul>
	      <% @discussion.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	 
	 <div class="field">
	  	<%= f.submit %>
	    <%= f.text_field :comment %>
	  </div>	
	<% end %>
</div>
</div>
