<div class="page">
<h3>Your Clips</h3>
<%= link_to 'New Clip', new_clip_path, :class => "btn" %>
<% @clips.each do |clip| %>
  <div>
   	<h4><%= link_to clip.name, clip %>
	<small><%= link_to 'X', clip, method: :delete, data: { confirm: 'Are you sure?' } %></small></h4>
	<%= text_field_tag 'url', "http://127.0.0.1:3000/clips/#{clip.id.to_s}" %> Created <%= time_ago_in_words(clip.created_at) %> ago
 	<a href="#" onclick="playFile('<%= clip.file.url%>', '<%= clip.wave.url(:medium) %>', '<%= clip.name %>');return false;">
	<img src="http://127.0.0.1:3000<%= clip.wave.url(:medium) %>" />
	</a>
   <p>
	<%= clip.description %> 
	</p>
  </div>
<% end %>
</div>