<div style="height:250px;overflow : auto; width:98%">
<table class="table table-condensed table-hover table-striped">
  <thead>
  <tr>
	<th><a href="http://127.0.0.1:3000"><i class="icon-download"></i></a></th>
	<th></th>
    <th>Name</th>
    <th>Rating</th>
    <th>Type</th>
    <th>Author</th>
	<th></th>
	<th></th>
	<th></th>
  </tr>
  </thead>

<% sound_files.each do |sound_file| %>
  <tr>
	<td><a href="http://127.0.0.1:3000<%= sound_file.file.url%>"><i class="icon-download"></i></a></td>
	<% if sound_file.preview? %>
	<td>
		<a href="#" onclick="playFile('<%= sound_file.preview.url%>', '<%= sound_file.wave.url %>','<%= sound_file.name %>');"><i  class="icon-play"></i></a>
	</td>
	<% elsif sound_file.audio != nil %>
	<td>
		<a href="#" onclick="playFile('<%= sound_file.file.url%>', '<%= sound_file.wave.url %>', '<%= sound_file.name %>');"><i  class="icon-play"></i></a>
	<% else %>
	<td><i class=" icon-upload"></i></td>
	<% end %>
    <td><%= sound_file.name %></td>
	<td>
		<i class="icon-star"></i>
		<i class="icon-star"></i>
		<i class="icon-star"></i>
		<i class="icon-star"></i>
		<i class="icon-star"></i>
	</td>
	<td><%= sound_file.file_type %></td>
	<td>User</td>
    <td><%= link_to '', bank_sound_file_path(user, bank, sound_file), :class => 'icon-eye-open' %></td>
    <td><%= link_to '', edit_bank_sound_file_path(user, bank, sound_file), :class => 'icon-edit' %></td>
    <td><%= link_to '', bank_sound_file_path(user, bank, sound_file), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'icon-remove-sign' %></td>
  </tr>
<% end %>
</table>
</div>