<div style="height:230px;overflow:auto; width:100%;border:1px solid black;">
<ul style="margin:0px;">
<% if sound_files.empty? %>
<h3>No sound files in bank</h3>
<% end %>

<% sound_files.each do |sound_file| %>
  <% 
		wave_url = case player_size
			when "small" then sound_file.wave.url(:medium)
			when "mini" then sound_file.wave.url(:thumb)
			else sound_file.wave.url
		end
  %>
  <li style="float:left;list-style-type: none;text-align:center;">
  <div style="width:100px;height:60px;padding:5px;">
  	<div style="float:left;">
  		<div style="background:url('http://127.0.0.1:3000/assets/MIDI-red-icon.png') no-repeat;background-position:top center;
					width:60px;height:40px;padding:5px;text-align:center;">
			<div style="background-color:#ffffff;filter:alpha(opacity=80);-moz-opacity:0.8;opacity: 0.8;width:15px;
						border: 1px solid black;display:inline-block;">
				<a href="http://127.0.0.1:3000<%= sound_file.file.url %>" 
					style="filter:alpha(opacity=100);-moz-opacity:1.0;opacity: 1.0;">
					<i class="icon-download"></i>
				</a>
				<br />
				<% if sound_file.preview? %>
				<a href="#" onclick="playFile('<%= sound_file.preview.url %>', '<%= wave_url %>','<%= sound_file.name %>');" 
					style="filter:alpha(opacity=100);-moz-opacity:1.0;opacity: 1.0;">
					<i  class="icon-play"></i></a>
				<% elsif sound_file.audio != nil %>
				<a href="#" onclick="playFile('<%= sound_file.file.url%>', '<%= wave_url %>', '<%= sound_file.name %>');" 
					style="filter:alpha(opacity=100);-moz-opacity:1.0;opacity: 1.0;">
					<i  class="icon-play"></i></a>
				<% else %>
				<i class=" icon-upload" style="filter:alpha(opacity=100);-moz-opacity:1.0;opacity: 1.0;"></i>
				<% end %>
    		</div>
  			<div>
				<%= sound_file.name %><br />
				<%= check_box_tag("sound_file[]", sound_file.id.to_s) %>
				
			</div>
  		</div>
    </div>
    <% if modal != "modal" %>
	<div style="float:left;width:20px;">
		<% if SoundFileBookmark.find(:first, 
			:conditions => {:luser_id => current_user.luser.id, :sound_file_id => sound_file.id }) != nil%>
		<a href="#" id="sf_<%= sound_file.id.to_s %>" onclick="bookmark(<%= sound_file.id.to_s %>);" 
			title="bookmark" style="display:none;">
			<i class="icon-bookmark"></i>
		</a>
		<a href="#" id="sfb_<%= sound_file.id.to_s %>" onclick="bookmarked(<%= sound_file.id.to_s %>);" title="unbookmark">
			<i class="icon-bookmark icon-white"></i>
		</a>
		<% else %>
		<a href="#" id="sf_<%= sound_file.id.to_s %>" onclick="bookmark(<%= sound_file.id.to_s %>);" title="bookmark">
			<i class="icon-bookmark"></i>
		</a>
		<a href="#" id="sfb_<%= sound_file.id.to_s %>" onclick="bookmarked(<%= sound_file.id.to_s %>);" title="unbookmark" 
			style="display:none;">
			<i class="icon-bookmark icon-white"></i>
		</a>
		<% end %>
		
		<%= link_to '', bank_sound_file_path(user, bank, sound_file), :class => 'icon-eye-open' %>
    	<%= link_to '', edit_bank_sound_file_path(user, bank, sound_file), :class => 'icon-edit' %>
    	<%= link_to '', bank_sound_file_path(user, bank, sound_file), method: :delete, data: { confirm: 'Are you sure?' }, 
					:class => 'icon-remove-sign' %>
		<%= link_to '', sound_file_sound_comments_path(sound_file), :class => 'icon-comment' %>
	</div>
	<% end %>
	<br style="clear:both;"/>
  </div>
 </li>
<% end %>
</ul>
</div>
<script type="text/javascript">
	function bookmark(sound_file_id) {
		$.ajax({
			type: 'POST',
			url: '<%= sound_file_bookmarks_path %>',
	        data: {
			  _method : 'POST',
			  sound_file_id : sound_file_id,
			  username : '<%= current_user.luser.name %>'
	        },
			success: function(data) {
				$('#sf_' + sound_file_id ).hide();
				$('#sfb_' + sound_file_id).show('slow');
			},
	        dataType: 'json'
	      });
	}
	
 	function bookmarked(sound_file_id) {
		$.ajax({
			type: 'POST',
			url: '<%= sound_file_bookmarks_path %>',
	        data: {
				_method : 'POST',
		    	sound_file_id : sound_file_id,
				username : '<%= current_user.luser.name %>'
	        },
			success: function(data) {
				$('#sf_' + sound_file_id ).show('slow');
				$('#sfb_' + sound_file_id).hide();
			},
	        dataType: 'json'
	      });
	};
</script>
