<div style="height:250px;overflow : auto; width:98%">
<table class="table table-condensed table-hover">
  <thead>
  <tr>
	<th></th>
    <th>Name</th>
    <th>Type</th>
    <th>Author</th>
	<th></th>
	<th></th>
	<th></th>
	<th></th>
  </tr>
  </thead>

<% sound_files.each do |sound_file| %>
  <% 
		wave_url = case player_size
			when "small" then sound_file.wave.url(:medium)
			when "mini" then sound_file.wave.url(:thumb)
			else sound_file.wave.url
		end
  %>
  
  <tr>
	<% if sound_file.preview? %>
	<td>
		<a href="#" onclick="playFile('<%= sound_file.preview.url %>', '<%= wave_url %>','<%= sound_file.name %>');">
			<i  class="icon-play"></i></a>
	</td>
	<% elsif sound_file.audio != nil %>
	<td>
		<a href="#" onclick="playFile('<%= sound_file.file.url%>', '<%= wave_url %>', '<%= sound_file.name %>');">
			<i  class="icon-play"></i></a>
	<% else %>
	<td><i class=" icon-upload"></i></td>
	<% end %>
    <td><%= sound_file.name %></td>
	<td><%= sound_file.file_type %></td>
	<td><%= sound_file.created_by %></td>
	<td>
		<% if SoundFileBookmark.find(:first, :conditions => {:luser_id => current_user.luser.id, 
			:sound_file_id => sound_file.id }) != nil%>
		<a href="#" id="sf_<%= sound_file.id.to_s %>" onclick="bookmark(<%= sound_file.id.to_s %>);" title="bookmark" 
			style="display:none;">
			<i class="icon-bookmark"></i>
		</a>
		<a href="#" id="sfb_<%= sound_file.id.to_s %>" onclick="bookmarked(<%= sound_file.id.to_s %>);" title="unbookmark">
			<i class="icon-bookmark icon-white"></i>
		</a>
		<% else %>
		<a href="#" id="sf_<%= sound_file.id.to_s %>" onclick="bookmark(<%= sound_file.id.to_s %>);" title="bookmark">
			<i class="icon-bookmark"></i>
		</a>
		<a href="#" id="sfb_<%= sound_file.id.to_s %>" onclick="bookmarked(<%= sound_file.id.to_s %>);" title="unbookmark" 
			style="display:none;">
			<i class="icon-bookmark icon-white"></i>
		</a>
		<% end %>
	</td>
	<td>
		<%= link_to '', '', method: :delete, data: { confirm: 'Are you sure?' }, :class => 'icon-remove-sign' %>
	</td>
  </tr>
<% end %>
</table>
</div>
<script type="text/javascript">
	function bookmark(sound_file_id) {
		$.ajax({
			type: 'POST',
			url: '<%= sound_file_bookmarks_path %>',
	        data: {
			  _method : 'POST',
			  sound_file_id : sound_file_id,
			  username : '<%= current_user.luser.name %>'
	        },
			success: function(data) {
				$('#sf_' + sound_file_id ).hide();
				$('#sfb_' + sound_file_id).show('slow');
			},
	        dataType: 'json'
	      });
	}
	
 	function bookmarked(sound_file_id) {
		$.ajax({
			type: 'POST',
			url: '<%= sound_file_bookmarks_path %>',
	        data: {
				_method : 'POST',
		    	sound_file_id : sound_file_id,
				username : '<%= current_user.luser.name %>'
	        },
			success: function(data) {
				$('#sf_' + sound_file_id ).show('slow');
				$('#sfb_' + sound_file_id).hide();
			},
	        dataType: 'json'
	      });
	};
</script>
