<% content_for :profile do %>
<%= render :partial => "layouts/profile", :locals => { :user => @user } %>
<br />
<% end %>
<div class="page">
<%= render :partial => "navigation", :locals => { :user => @user } %>
<div>
	<%= render 'layouts/small_player' %>
</div>
<div>
	<a href="" id="filter_toggle">Hide</a>
</div>
<div class="row">
	<div id="filters" class="span12">
	  <div style="float:left;">
	  Bank:<%= link_to '+', new_bank_path %><br />
	  <%= select("bank", "id", 
	      @banks.collect {|t| [ t.name, t.id ] }, 
	          {},{:multiple => true,:class=>"list", :size => 8 }) %>
	  </div>
	  <div style="float:left;">
	  Software:<br />
	  <%= select("software", "id", 
	      Software.all.collect {|t| [ t.name, t.id ] }, 
	          {},{:multiple => true, :class=>"list", :size => 8} ) %>
	  </div>
	  <div style="float:left;">
	  Type:<br />
	  <%= select("type", "id", 
	      SoundType.where("sound_type_id is null").collect {|t| [t.name, t.id] }, 
	          {},{:multiple => true,:class=>"list", :size => 8 } ) %>
	  </div>
	  <div style="float:left;">
	  Sub Type:<br />
	  <%= select("type", "id", 
	      [["None", 0]], 
	       {},{:multiple => true, :class=>"list", :size => 8, :id => "sub_type" } ) %>
	</div>
  	<div style="float:left;">
  		Mode:<br />
  	<%= select("mode", "id", 
      Mode.all.collect {|t| [ t.name, t.id ] }, 
          {},{:multiple => true, :class=>"list", :size => 8  } ) %>
  	</div>
	</div>
</div>
<div class="row">
	<div class="span9">
		<div id="file_list">
		<%= render :partial => "list_files", :locals => { :sound_files => @sound_files, :user => @user, :player_size => "small" } %>
		</div>
	</div>
</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
	$("#tab_browse").addClass('active');
	
	$('#filter_toggle').toggle(function() {
	  	$('#filters').hide();
	  	$('#filter_toggle').text('Show');
	}, function() {
	  	$('#filters').show();
		$('#filter_toggle').text('Hide');
	});
	
	function files()
	{
		$.ajax({
	        url: "<%= update_files_path %>",
	        data: {
			  bank_id : $('#bank_id').val(),
			  software_id : $('#software_id').val(),
			  mode_id : $('#mode_id').val(),
	          type_id : $('#type_id').val()
	        },
	        dataType: "script"
	      });
	}
	
	$('#bank_id').change(function() {
		files();
	});
	
	$('#software_id').change(function() {
		files();
	});
	
	$('#sub_type').change(function() {
		files();
	});
	
	$('#mode_id').change(function() {
		files();
	});
	
    $('#type_id').change(function() {
      $.ajax({
        url: "<%= update_subtypes_path %>",
        data: {
          type_id : $('#type_id').val(),
		  file_id : "0"
        },
        dataType: "script"
      });

	  files();
    });
});
</script>


