<%= form_tag('search') %>
<div class="page">
<ul class="nav nav-tabs">
	<li>
	    <a href="/sound_files">All</a>
	</li>
	<li class="active">
		<a href="/banks">Banks</a>
	</li>
</ul>

<div>
	<%= render 'layouts/small_player' %>
</div>
<div class="row">
	<div class="span12">
	  <div style="float:left;">
	  Bank:<%= link_to '+', new_bank_path %><br />
	  <%= select("bank", "id", 
	      Bank.all.collect {|t| [ t.name, t.id ] }, 
	          {},{:multiple => true,:class=>"list", :size => 8 }) %>
	  </div>
	  <div style="float:left;">
	  Software:<br />
	  <%= select("software", "id", 
	      Software.all.collect {|t| [ t.name, t.id ] }, 
	          {},{:multiple => true, :class=>"list", :size => 8} ) %>
	  </div>
	  <div style="float:left;">
	  Type:<br />
	  <%= select("type", "id", 
	      SoundType.where("sound_type_id is null").collect {|t| [t.name, t.id] }, 
	          {},{:multiple => true,:class=>"list", :size => 8 } ) %>
	  </div>
	  <div style="float:left;">
	  Sub Type:<br />
	  <%= select("type", "id", 
	      [["None", 0]], 
	       {},{:multiple => true, :class=>"list", :size => 8, :id => "sub_type" } ) %>
	</div>
  	<div style="float:left;">
  		Mode:<br />
  	<%= select("mode", "id", 
      Mode.all.collect {|t| [ t.name, t.id ] }, 
          {},{:multiple => true, :class=>"list", :size => 8  } ) %>
  	</div>
	</div>
</div>
<div class="row">
	<div class="span10">
		<div id="file_list">
		<%= render :partial => "list_files", :locals => { :sound_files => @sound_files } %>
		</div>
	</div>
</div>
</div>
</form>
<script type="text/javascript">
$(document).ready(function() {
    $('#type_id').change(function() {
      $.ajax({
        url: "<%= update_subtypes_path %>",
        data: {
          type_id : $('#type_id').val(),
		  file_id : "0"
        },
        dataType: "script"
      });

	  $.ajax({
        url: "<%= update_files_path %>",
        data: {
          type_id : $('#type_id').val()
        },
        dataType: "script"
      });
    });
});

$(".icon-stop").hide();
function playFile(url)
{
	$(".icon-stop").show();
	$(".icon-play").hide();
	//$(document).ready(function(){
	$("#jquery_jplayer_1").jPlayer( "destroy" );
	$("#jquery_jplayer_1").jPlayer({
        ready: function () {
		  alert(url);
          $(this).jPlayer("setMedia", {
            mp3: "http://127.0.0.1:3000/" + url
          }).jPlayer("play");
        },
		supplied: "mp3"
     });	 
	//});
}
function stopFile()
{
	$("#jquery_jplayer_1").jPlayer( "stop" );
	$(".icon-stop").hide();
	$(".icon-play").show();
}
</script>


