<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @bank.name %>
</p>

<p>
  <b>Description:</b>
  <%= @bank.description %>
</p>

<p>
  <b>Type:</b>
  <%= @bank.type %>
</p>

<p>
  <b>Access:</b>
  <%= @bank.access %>
</p>

<p>
  <b>Collaboration:</b>
  <%= @bank.collaboration %>
</p>



