<% content_for :profile do %>
  <%= render :partial => "layouts/profile", :locals => { :user => @user } %>
<% end %>
<div class="page">
<%= render :partial => "navigation", :locals => { :user => @user } %>
<div style="width:760px;">
  <div style="float:left;">
	<h3 style="margin:0px;"><%= @user %>/<%= @bank.name %><small><a href="#" id="edit"> Edit</a></small></h3>
  </div>
  <div style="float:right;">
	<i class="icon-hdd"></i>
	<% if @bank_bookmark != nil %>
	<a href="#" id="bookmarked"><i class="icon-bookmark icon-white"></i></a>
	<a href="#" id="bookmark" style="display:none"><i class="icon-bookmark"></i></a>
	<% else %>
	<a href="#" id="bookmark"><i class="icon-bookmark"></i></a>
	<a href="#" id="bookmarked" style="display:none"><i class="icon-bookmark icon-white"></i></a>
	<% end %>
  </div>
  <br style="clear: both;" />
</div>
<div id="description">
   	<p><%= @bank.description %></p>
</div>
<div id="edit_bank" style="display:none;">
	<div><%= text_area(:bank, :description, :cols => 60, :rows => 2) %></div>
	Access:
	<div><%= select :bank, :access, ['Public', 'Private'] %></div>
	<div><a href="#" id="save">Save</a> <a href="#" id="cancel">Cancel</a></div>
</div>
<div style="width:760px;">
	<div style="float:left;">
	<%= link_to 'New Sound', new_bank_sound_file_path(:username => @user, :bank_id => @bank.id), :class => ['btn', 'btn-mini'] %>
	</div>
	<div style="float:right;">
	<%= render 'layouts/mini_player' %>
	</div>
	<div style="clear: both;"></div>
</div>
<div id="file_list">
<%= render :partial => "list_files", :locals => { :sound_files => @sound_files, :user => @user, :bank => @bank, 
	:player_size => "mini"  } %>
</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
	$('#edit').click(function() {
	  	$('#description').hide();
		$('#edit').hide();
		$('#edit_bank').show();
	});
	
	$('#cancel').click(function() {
	  	$('#description').show();
		$('#edit_bank').hide();
		$('#edit').show();
	});
	
	$('#save').click(function() {
		//alert("save");
		$.ajax({
			type: 'POST',
			url: '<%= bank_path %>',
	        data: {
			  _method : 'PUT',
			  'bank[description]': $('#bank_description').val()
			  //software_id : $('#software_id').val(),
			  //mode_id : $('#mode_id').val(),
	          //type_id : $('#type_id').val()
	        },
			success: function(data) {
			    //$('.result').html(data);
			    alert('Saved');
				$('#description').show();
				$('#description>p').html($('#bank_description').val());
				$('#edit_bank').hide();
				$('#edit').show();
			},
	        dataType: 'json'
			
	      });
	});
	
	$('#bookmark').click(function() {
		$.ajax({
			type: 'POST',
			url: '<%= bank_bookmarks_path %>',
	        data: {
			  _method : 'POST',
			  bank_id : '<%= @bank.id %>',
			  username : '<%= current_user.luser.name %>'
	        },
			success: function(data) {
				$('#bookmarked').show('slow');
				$('#bookmark').hide();
			},
	        dataType: 'json'
	      });
	});
	
	$('#bookmarked').click(function() {
		$.ajax({
			type: 'POST',
			url: '<%= bank_bookmarks_path %>',
	        data: {
			  _method : 'POST',
			  bank_id : '<%= @bank.id %>',
			  username : '<%= current_user.luser.name %>'
	        },
			success: function(data) {
				$('#bookmarked').hide();
				$('#bookmark').show('slow');
			},
	        dataType: 'json'
	      });
	});
});
</script>


