<% content_for :profile do %>
 <%= render :partial => "layouts/profile", :locals => { :user => @user_name } %>
<% end %>
<% content_for :title do %>
<%= @user_name %>
<% end %>
<div class="page">
	<ul class="nav nav-tabs">
		<li id="tab_bank" class="active">
		    <a href="/<%= @user_name %>"><i class="icon-info-sign"></i> Info</a>
		</li>
		<li id="tab_browse">
			<a href="/<%= @user_name %>/banks/browse"><i class="icon-fire"></i> Activity</a>
		</li>
	</ul>
	
	<h3><a href="">Projects:</a> <%= @user.luser_projects_count %> <a href="">Banks:</a> <%= @user.luser_banks_count %> </h3> 
	<div>
	<div style="float:left;width:250px;">
		About:
		<ul>
			<li>
				Location:<br />
				Netherlands, Rotterdam
			</li>
			<li>
				Blurb:<br />
				Als senior developer werk je op ons hoofdkantoor in Rotterdam, waar je in een dynamisch team van 5 zeer ervaren 
				senior ontwikkelaars plaatsneemt. VONQ bestaat als organisatie in geheel uit circa 30 medewerkers. 
			</li>
		</ul>
	</div>
	<div style="float:left;width:250px;">
		Gear and Wares:
		<ul>
			<li>Mac Book Pro</li>
			<li>Nord Lead</li>
			<li>Ableton</li>
		</ul>
		<a href="">See Battle Station</a>
	</div>
	<div style="float:left;width:250px;">
		Following:
		<div>
			<%= render :partial => 'following', :locals => { :following => @following } %>
		</div>
		Followers:
		<div>
			<%= render :partial => 'followers', :locals => { :followers => @followers } %>
		</div>
	</div>
	</div>
</div>
