<div style="height:250px;overflow : auto; width:98%">
<% part = "" %>
<% sound_files.each do |sound_file| %>
  <% 
		wave_url = case player_size
			when "small" then sound_file.wave.url(:medium)
			when "mini" then sound_file.wave.url(:thumb)
			else sound_file.wave.url
		end
  %>
  <% if part != sound_file.track_part %>
	<% part = sound_file.track_part %>
	<h4 style="line-height:0px;"><%= sound_file.track_part %></h4>
  <% end %>
  <div>
	<div style="float:left;">
	<% if sound_file.preview? %>
		<a href="#" onclick="playFile('<%= sound_file.preview.url %>', 
			'<%= wave_url %>','<%= sound_file.name %>',<%= sound_file.id %>);return false;">
			<i  class="icon-play"></i></a>
	<% elsif sound_file.audio != nil %>
		<a href="#" onclick="playFile('<%= sound_file.file.url%>', 
			'<%= wave_url %>', '<%= sound_file.name %>',<%= sound_file.id %>);return false;">
			<i  class="icon-play"></i></a>
	<% else %>
		<i class=" icon-upload"></i>
	<% end %>
	</div>
	<div style="float:left;margin-left:10px;">
    	<b><%= link_to sound_file.name, 
				sound_file_sound_comments_path(sound_file, :project => @project.id.to_s) %></b>
		<% if sound_file.publish %>
				<a href="#" onclick="toggle_publish(<%= sound_file.id %>);return false;">
					<i class="icon-certificate icon-white"></i></a>
		<% else %>
			<a href="#" onclick="toggle_publish(<%= sound_file.id %>);return false;">
				<i class="icon-certificate"></i></a>
		<% end %>
    </div>
    <div style="float:right;">
		Created by: <%= link_to sound_file.created_by, '/#{sound_file.created_by}' %>
	</div>
	<div style="clear:both;float:right;">
	<%= sound_file.file_type %>
		<% if SoundFileBookmark.find(:first, :conditions => {:luser_id => current_user.luser.id, 
			:sound_file_id => sound_file.id }) != nil%>
		<a href="#" id="sf_<%= sound_file.id.to_s %>" onclick="bookmark(<%= sound_file.id.to_s %>);return false;" title="bookmark" 
			style="display:none;">
			<i class="icon-bookmark"></i>
		</a>
		<a href="#" id="sfb_<%= sound_file.id.to_s %>" onclick="bookmarked(<%= sound_file.id.to_s %>);" title="unbookmark">
			<i class="icon-bookmark icon-white"></i>
		</a>
		<% else %>
		<a href="#" id="sf_<%= sound_file.id.to_s %>" onclick="bookmark(<%= sound_file.id.to_s %>);" title="bookmark">
			<i class="icon-bookmark"></i>
		</a>
		<a href="#" id="sfb_<%= sound_file.id.to_s %>" onclick="bookmarked(<%= sound_file.id.to_s %>);" title="unbookmark" 
			style="display:none;">
			<i class="icon-bookmark icon-white"></i>
		</a>
		<% end %>
		<%= link_to '', sound_file_sound_comments_path(sound_file, :project => @project.id.to_s), :class => 'icon-comment' %>
		(<%= sound_file.sound_comments_count.to_s %>)
		<%= link_to '', '', method: :delete, data: { confirm: 'Are you sure?' }, :class => 'icon-remove-sign' %>
	 </div>
  </div>
  <br style="clear:both;"/>
<% end %>	
</div>
<script type="text/javascript">
function bookmark(sound_file_id) {
	$.ajax({
		type: 'POST',
		url: '<%= sound_file_bookmarks_path %>',
      	data: {
  			_method : 'POST',
  			sound_file_id : sound_file_id,
  			username : '<%= current_user.luser.name %>'
      	},
		success: function(data) {
			$('#sf_' + sound_file_id ).hide();
			$('#sfb_' + sound_file_id).show('slow');
		},
      	dataType: 'json'
    });
}
	
function bookmarked(sound_file_id) {
	$.ajax({
		type: 'POST',
		url: '<%= sound_file_bookmarks_path %>',
	    data: {
			_method : 'POST',
		    sound_file_id : sound_file_id,
			username : '<%= current_user.luser.name %>'
	    },
		success: function(data) {
			$('#sf_' + sound_file_id ).show('slow');
			$('#sfb_' + sound_file_id).hide();
		},
	    dataType: 'json'
	 });
}
function toggle_publish(sound_file_id){
	$.ajax({
		type: 'POST',
        url: "<%= toggle_publish_path %>",
        data: {
		 _method : 'POST',
		  id : sound_file_id
        },
        dataType: "script"
      });
}
</script>
