<ul class="nav nav-tabs">
	<li id="tab_project">
	    <a href="/<%= @user_name %>/projects">All</a>
	</li>
	<li id="tab_collabs">
		<a href="/<%= @user_name %>/projects?type=collabs">Collabs</a>
	</li>
	<li id="tab_browse">
		<a href="/<%= @user_name %>/projects?type=remix">Remix-able</a>
	</li>
	<li id="tab_favorites">
		<a href="/<%= @user_name %>/projects?type=challenges">Challenges</a>
	</li>
	<% if user_signed_in? %>
		<% if @user_name == current_user.luser.name %> 
		<li id="tab_new">
			<a href="/<%= current_user.luser.name %>/projects/new">New Project</a>
		</li>
		<% end %>
	<% end%>
</ul>