<ul class="nav nav-tabs">
	<li id="tab_project">
		<%= link_to "Project", project_url(@project.created_by, @project) %>
	</li>
	<% if @project.type == "RemixChallenge" or @project.type == "Challenge"%>
	<li id="tab_prizes">
	    <%= link_to "Prizes", prizes_project_url(@project.created_by, @project) %>
	</li>
	<li id="tab_rules">
		<%= link_to "Rules", rules_project_url(@project.created_by, @project) %>
	</li>
	<li id="tab_score">
		<%= link_to "Score", project_project_scores_url(@project.created_by, @project) %>
	</li>
	<% end %>
	<li id="tab_discussion">
		<%= link_to "Discussion", project_discussions_path(@project.created_by, @project) %>
	</li>
   <% if can? :update, @project %>
		<li id="tab_settings">
			<%= link_to "Settings", edit_project_url(@project.created_by, @project) %>
		</li>
   <% end %>
</ul>