<div style="height:250px;overflow : auto; width:100%">
<% sound_files.each_with_index do |sound_file, index| %>
  <% 
		wave_url = case player_size
			when "small" then sound_file.wave.url(:medium)
			when "mini" then sound_file.wave.url(:thumb)
			else sound_file.wave.url
		end
  %>
  <div style="border: 1px solid black;float:left;width:730px;height:50px;margin:5px;padding:5px;background-color:#ccc">
	<div style="float:left;width:50px;height:50px;border: 1px solid black;background-image: url('http://127.0.0.1:3000/assets/CD-grey-icon.png');">
		<div style="float:left;border: 1px solid black;text-align:center;margin:10px;background-color:#fff">
		<a href="#" onclick="playFile('<%= sound_file.file.url%>', '<%= wave_url %>', '<%= sound_file.name %>', 
			'<%= sound_file.id %>');">
			<i class="icon-play" style="margin-top: expression(( 50 - this.height) / 2);"></i>
		</a>
		</div>
	</div>
	<% if @project.leader_board and @project.type == "RemixChallenge"%>
	<div style="float:left;margin-left:5px;">
		<span style="font-size: 30px;"><%= (index + 1).to_s %></span>
	</div>
	<% end %>
	<div style="float:left;margin-left:5px;width:340px;height:50px;">	
		<div style="float:left;">
			<span><b><%= sound_file.name %></b></span><br />
			<span><a href=""><%= sound_file.created_by %></a></span>
		</div>
	</div>
	<div style="float:left;width:150px;">
		<div style="float:left;">
			<%= sound_file.listen_count %> Listens
			<br />
			Added: <%= time_ago_in_words(sound_file.created_at,true) %>
		</div>
	</div>
	<div style="float:right;text-align:right;border: 1px solid black;padding:4px;">
		<% if @project.voting and @project.type == "RemixChallenge" %>
		<%= sound_file.votes_count %>
		<a href="#" onclick="vote(<%= sound_file.id.to_s %>);" title="vote">
			<i class="icon-ok"></i>
		</a>
		|
		<% end %>
		<%= sound_file.sound_file_bookmarks_count %>
		<% if SoundFileBookmark.find(:first, :conditions => {:luser_id => current_user.luser.id, 
			:sound_file_id => sound_file.id }) != nil%>
			<a href="#" id="sf_<%= sound_file.id.to_s %>" onclick="bookmark(<%= sound_file.id.to_s %>);" title="bookmark" 
						style="display:none;">
				<i class="icon-star"></i>
			</a>
			<a href="#" id="sfb_<%= sound_file.id.to_s %>" onclick="bookmarked(<%= sound_file.id.to_s %>);" title="unbookmark">
				<i class="icon-star icon-white"></i>
			</a>
		<% else %>
			<a href="#" id="sf_<%= sound_file.id.to_s %>" onclick="bookmark(<%= sound_file.id.to_s %>);" title="bookmark">
				<i class=" icon-star"></i>
			</a>
			<a href="#" id="sfb_<%= sound_file.id.to_s %>" onclick="bookmarked(<%= sound_file.id.to_s %>);" title="unbookmark" 
					style="display:none;">
				<i class=" icon-star icon-white"></i>
			</a>
		<% end %>
		
		<% if @project.scoring and @project.type == "RemixChallenge" %>
		<%= link_to '', project_sound_file_score_path(@user_name, @project, sound_file), :class => 'icon-list-alt' %>
		<% end %>
		<% if current_user.luser.project_role(@project) == "Admin" or current_user.luser.name == @project.created_by %>
		<%= link_to '', "http://", method: :delete, data: { confirm: 'Are you sure?' }, :class => 'icon-remove-sign' %>	
		<% end %>
		<br />
		<% if @project.scoring and @project.type == "RemixChallenge" %>
		Score: <%= sound_file.score %>/<%= @total_score %>
		<% end %>
	</div>
	</div>
	<br style="clear:both;"/>
<% end %>
</div>
<script type="text/javascript">
	function bookmark(sound_file_id) {
		$.ajax({
			type: 'POST',
			url: '<%= sound_file_bookmarks_path %>',
	        data: {
			  _method : 'POST',
			  sound_file_id : sound_file_id,
			  username : '<%= current_user.luser.name %>'
	        },
			success: function(data) {
				$('#sf_' + sound_file_id ).hide();
				$('#sfb_' + sound_file_id).show('slow');
			},
	        dataType: 'json'
	      });
	}
	
 	function bookmarked(sound_file_id) {
		$.ajax({
			type: 'POST',
			url: '<%= sound_file_bookmarks_path %>',
	        data: {
				_method : 'POST',
		    	sound_file_id : sound_file_id,
				username : '<%= current_user.luser.name %>'
	        },
			success: function(data) {
				$('#sf_' + sound_file_id ).show('slow');
				$('#sfb_' + sound_file_id).hide();
			},
	        dataType: 'json'
	      });
	};
	
	function vote(sound_file_id) {
		$.ajax({
			type: 'POST',
			url: '<%= votes_path %>',
	        data: {
			  _method : 'POST',
			  sound_file_id : sound_file_id,
			  project_id : '<%= @project.id %>',
			  username : '<%= current_user.luser.name %>'
	        },
			success: function(data) {
				//$('#sf_' + sound_file_id ).hide();
				//$('#sfb_' + sound_file_id).show('slow');
			},
	        dataType: 'json'
	      });
	}
</script>
