<% content_for :profile do %>
  <%= render :partial => "layouts/profile", :locals => { :user => @user } %>
<br />
<% end %>
<div class="page">
<%= render 'project_header' %>	
<%= render 'project_nav' %>

<%= form_for(@project, :url => "/" + @user + "/projects/" + @project.id.to_s ) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="field">
    <%= f.label :access %>
    <%= select :project, :access, ['Public', 'Private'] %>
  </div>
  <div class="field">
    <%= f.label :type %>
    <%= select :project, :type,  [["Personal", "Project"],["Collaboration", "Collaboration"], ["Remix","Remix"], 
				["Remix Challenge", "RemixChallenge"], ["Challenge", "Challenge"]] %>
  </div>
  
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :cols => 20, :rows => 3 %>
  </div>
  <% if @project.type == "Challenge" or
	    @project.type == "RemixChallenge" %>
  <div class="field">
    <%= f.label :prizes %>
    <%= f.text_area :prizes, :cols => 20, :rows => 3 %>
  </div>
  <div class="field">
    <%= f.label :rules %>
    <%= f.text_area :rules, :cols => 20, :rows => 3 %>
  </div>

  <div class="field">
    <%= f.label :leader_board %>
    <%= f.check_box :leader_board %>
  </div>
  <div class="field">
    	<%= f.label :scoring %>
    	<%= f.check_box :scoring %>
  </div>

	<div class="field">
    	<%= f.label :voting %>
    	<%= f.check_box :voting %>
  	</div>

    <div class="field">
    	<%= f.label :start %>
    	<%= date_select :project, :start %>
  	</div>
    <div class="field">
    	<%= f.label :end %>
    	<%= date_select :project, :end %>
  	</div>

  <% end %>
  <div class="field">
	<%= submit_tag "Add Luser" %>
	<%= text_field_tag :luser, "Type username"%>
  </div>
  <div style="border: 1px solid black;">
	<% @lusers.each do |luser| %>
	<div>
		<a href="#"><img src="http://127.0.0.1:3000/assets/glyphicons_003_user.png"></a>
		<br />
		<%= luser.name %>
	</div>
	<% end%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
