<% content_for :profile do %>
  <%= render :partial => "layouts/profile", :locals => { :user => @user_name } %>
<br />
<% end %>
<div class="page">
<%= render :partial => "navigation", :locals => { :user => @user_name } %>

<% @luser_projects.each do |lproject| %>
<div>
	<h4><%= link_to(lproject.project.created_by + "/" + lproject.project.name, project_path(@user_name, lproject.project)) %></h4>
	<%= lproject.project.description %>
	<div>
		<span class="label label-info"><%= lproject.project.type %></span>
		<% if lproject.project.access == "public" %>
		<span class="label label-success"><%= lproject.project.access %></span>
		<% else %>
		<span class="label label-important"><%= lproject.project.access %></span>
		<% end %>
	</div>
</div>
<% end %>
<script type="text/javascript">
$(document).ready(function() {
	$("#tab_project").addClass('active');
});
</script>
