<div class="page">	
<div>
<%= render 'project_nav' %>
</div>
<% if @project.type == "Collaboration"%>
<%= render 'collaboration' %>
<% elsif @project.type == "Remix" %>
<%= render 'remix' %>
<% elsif @project.type == "RemixChallenge" %>
<%= render 'remix_challenge' %>
<% elsif @project.type == "Challenge" %>
<%= render 'challenge' %>
<% else %>
<%= render 'project' %>
<% end %>
</div>