<div class="page">	
<div>
<h1> 
    <%= @project.name %> 
	<span class="label label-info"><%= @project.type %></span>
	<% if @project.access == "public" %>
	<span class="label label-success"><%= @project.access %></span>
	<% else %>
	<span class="label label-important"><%= @project.access %></span>
	<% end %>
</h1>
<ul class="nav nav-tabs">
	<li id="tab_project" class="active">
	    <a href="">Project</a>
	</li>
	<li id="tab_collabs">
		<a href="">Discussion</a>
	</li>
</ul>
<p><%= @project.description %></p>
</div>
<div>
	<%= render 'layouts/small_player' %>
</div>
<br />
<% if @project.type == "Collaboration"%>
<%= render 'collaboration' %>
<% else %>
<%= render 'project' %>
<% end %>
</div>