<%= form_for(@sound_file) do |f| %>
  <% if @sound_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sound_file.errors.count, "error") %> prohibited this sound_file from being saved:</h2>
      <ul>
      <% @sound_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.label :file %>
    <%= f.file_field :file%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
