<div class="page">
<h4>Sound Attributes</h4>
<%= form_for(@sound_file) do |f| %>
  <% if @sound_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sound_file.errors.count, "error") %> prohibited this sound_file from being saved:</h2>
      <ul>
      <% @sound_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="span3">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="span3">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
</div>
 <div class="row">
  <div class="span3">
  Bank:<br />
  <%= select("bank", "id", 
      Bank.all.collect {|t| [ t.name, t.id ] }, 
          {:prompt => 'None'},{:multiple => true } ) %>
  </div>
  <div class="span3">
  Software:<br />
  <%= select("software", "id", 
      Software.all.collect {|t| [ t.name, t.id ] }, 
          {:prompt => 'None'},{:multiple => true } ) %>
  </div>
  <div class="span3">
  Type:<br />
  <%= select("type", "id", 
      SoundType.where("sound_type_id is null").collect {|t| [t.name, t.id] }, 
          {:prompt => 'None', :selected => @sound_file_types},{:multiple => true } ) %>
  </div>
</div>
<div class="row">
	<div class="span3">
	  Sub Type:<br />
	  <%= select("type", "id", 
	       [["None", 0]], {},
	          {:multiple => true, :id => "sub_type"} ) %>
	</div>
  	<div class="span3">
  		Mode:<br />
  	<%= select("mode", "id", 
      Mode.all.collect { |t| if t.sound_type_id != nil then [ t.name, t.id ] end }, 
          {:prompt => 'None'},{:multiple => true } ) %>
  	</div>
	<div class="span3">
		<div>
		    <%= f.label :preview %><br />
		    <%= f.file_field :preview %>
		</div>
	</div>
</div>
<div class="actions">
	<%= f.submit %>
</div>
<% end %>

<%= link_to 'Show', @sound_file %> |
<%= link_to 'Back', sound_files_path %>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $('#type_id').change(function() {
      $.ajax({
        url: "<%= update_subtypes_path %>",
        data: {
          type_id : $('#type_id').val()
        },
        dataType: "script"
      });
    });
});
</script>

