<% content_for :profile do %>
  <%= render :partial => "layouts/profile", :locals => { :user => @user } %>
<br />
<% end %>
<div class="page">
<% if @sound_file.type == "SoundFile" %>
<%= render 'bank_file' %>
<% else %>
<%= render 'form' %>
<% end %>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $('#type_id').change(function() {
      $.ajax({
        url: "<%= update_subtypes_path %>",
        data: {
          type_id : $('#type_id').val(),
		  file_id : '<%= @sound_file.id %>'
        },
        dataType: "script"
      });
    });
	$.ajax({
        url: "<%= update_subtypes_path %>",
        data: {
          type_id : $('#type_id').val(),
		  file_id : '<%= @sound_file.id %>'
        },
        dataType: "script"
    });
});
</script>

