<script type="text/javascript">
function playFile(url)
{
	//$(document).ready(function(){
	$("#jquery_jplayer_1").jPlayer( "destroy" );
	$("#jquery_jplayer_1").jPlayer({
        ready: function () {
		  alert(url);
          $(this).jPlayer("setMedia", {
            mp3: "http://127.0.0.1:3000/" + url
          }).jPlayer("play");
        },
		supplied: "mp3"
     });	 
	//});
}
</script>
<div class="page">
<ul class="nav nav-tabs">
	<li class="active">
	    <a href="#">All</a>
	</li>
	<li><a href="#">Banks</a></li>
</ul>
<%= link_to 'New Sound', new_sound_file_path, :class => ['btn', 'btn-mini'] %>
<div style="height:250px;overflow : auto;">
<table class="table table-condensed table-hover table-striped">
  <thead>
  <tr>
	<th></th>
	<th></th>
    <th>Name</th>
    <th>Rating</th>
    <th>Type</th>
    <th>Author</th>
	<th></th>
	<th></th>
	<th></th>
  </tr>
  </thead>

<% @sound_files.each do |sound_file| %>
  <tr>
	<td><a href="http://127.0.0.1:3000<%= sound_file.file.url%>"><i class="icon-download"></i></a></td>
	<% if sound_file.preview? %>
	<td><a href="#" onclick="playFile('<%= sound_file.preview.url%>');"><i  class="icon-play"></i></a></td>
	<% else %>
	<td><i class=" icon-upload"></i></td>
	<% end %>
    <td><%= sound_file.name %></td>
	<td>
		<i class="icon-star"></i>
		<i class="icon-star"></i>
		<i class="icon-star"></i>
		<i class="icon-star"></i>
		<i class="icon-star"></i>
	</td>
	<td><%= sound_file.file_type %></td>
	<td>User</td>
    <td><%= link_to '', sound_file, :class => 'icon-eye-open' %></td>
    <td><%= link_to '', edit_sound_file_path(sound_file), :class => 'icon-edit' %></td>
    <td><%= link_to '', sound_file, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'icon-remove-sign' %></td>
  </tr>
<% end %>
</table>
</div>
</div>
<div style="padding:10px;">
	<%= render 'layouts/small_player' %>
</div>
</div>



