<h1>Listing modes</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @modes.each do |mode| %>
  <tr>
    <td><%= mode.name %></td>
    <td><%= link_to 'Show', mode %></td>
    <td><%= link_to 'Edit', edit_mode_path(mode) %></td>
    <td><%= link_to 'Destroy', mode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mode', new_mode_path %>
