<ul class="nav" style="padding: 5px;">
    <li>
		<table style="border: 1px white solid;">
			<tr style="padding: 10px;border: 1px white solid;">
				<td style="border: 1px white solid;padding: 5px;width: 50px;background-color: grey;color:black">LOOP.IN</td>
				<td style="border: 1px white solid;padding: 5px;width: 200px;background-color: #808000;color:white">LOOP.OUT</td>
			</tr>
		</table>
    </li>
</ul>
<ul class="nav nav-pills pull-right">
	<li>
		<a href="#">Explore</a>
	</li>
	
  	<% if user_signed_in? %>
	<li>
		<%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>        
	</li>
	<% else %>
	<li>
		<%= link_to('Login', new_user_session_path)  %>  
	</li>
	<% end %>
	
	<% if user_signed_in? %>
	<li>
		<%= link_to('Edit account', edit_user_registration_path) %>
	</li>
	<li>
		<a href="#">Notifications</a>
	</li>
		<% if current_user.luser != nil %>
			<% if current_user.luser.profile_file_name != nil %>
			<li>
			<a href="/<%= current_user.luser.name %>"><img src="http://127.0.0.1:3000<%= current_user.luser.profile.url(:thumb)  %>"></a>
			</li>
			<% else %>
			<li>
			<a href="/<%= current_user.luser.name %>"><img src="http://127.0.0.1:3000/assets/glyphicons_003_user.png"></a>
			</li>
			<% end%>
		<% end %>
	<% else %>
	<li>
		<%= link_to('Sign up', new_user_registration_path)  %>
	</li>
    <% end %>
</ul>