<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= content_for?(:title) ? yield(:title) : "LoopinLoopout" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body style="background-color: #000">
    <header class="navbar navbar-inverse navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container" style="background-color:#666;padding:2px;width: 900px;">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
			<% if @user != nil %>
			<div class="span2">
				<%= yield(:profile) %>
				
				<ul class="nav nav-tabs nav-stacked" style="background-color:#838B8B">
			    	<li>
						<a href="/<%= @user %>/projects" style="color: #000">
							<i class="icon-headphones"></i> Projects
						</a>
					</li>
			        <li>
						<a href="/<%= @user %>/banks" style="color: #000">
							<i class="icon-briefcase"></i> Banks
						</a>
					</li>
			    </ul>
				
			</div>
			<% end %>
			<% if @user != nil %>
			<div class="span10" style="background-color: #838B8B; margin-left:10px;">
			<% else%>
            <div class="span12" style="background-color: #838B8B; margin-left:10px;">
			<% end %>
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
			
          </footer>
        </div>
      </div>
 	  <!--! end of .container -->
    </div> <!--! end of #main -->
	<div class="container" style="background-color:#666;padding:20px;margin-top:15px;">
		<div class="row">
			<div class="span6">
				<ul class="nav nav-list">
				  <li class="nav-header">LILO</li>
				  <li><a href="#">About</a></li>
				  <li><a href="#">FAQ</a></li>
				  
				</ul>
			</div>
		</div>
    </div>
  </body>
</html>
